* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header started */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 12px 0px rgb(128, 127, 127);
}

.nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: rgb(45, 177, 109);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.nav__list--item {
  list-style-type: none;
}

.nav__list--item-link {
  text-decoration: none;
  color: #000;
}

.nav__list--item-link:hover {
  color: rgba(45, 177, 109, 0.491);
}

.active {
  font-weight: bold;
  color: rgb(45, 177, 109);
}

/* header end */

/* main start */

/* flex satart*/
/* .flex-container {
  background-color: teal;
  height: 500px;
  padding: 0px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: reverse;
}

.flex-item {
  padding: 60px;
  background-color: wheat;
  margin: 1px;
}

.flex-item:nth-child(2) {
  background-color: lime;
  order: -3;
  flex: 2 0;
}

.flex-item:nth-child(3) {
  background-color: rgb(157, 0, 255);
  order: 1;
  flex-grow: 4;
  flex-shrink: 0;
  flex: 4 0 200px;
} */

/* flex end */

/* grid */

.grid-container {
  background-color: seagreen;
  min-height: 500px;
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns:repeat(4   , minmax(320px , 1fr));
  grid-template-rows: 70px 90vh 200px 70px;
  grid-template-areas: 
  "nav nav nav nav"
  "sidebar main main aside"
  "content card card card"
  "footer footer footer footer"
  ;
}



.grid-item {
  background-color: #fff;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.grid-item:nth-child(1){
  background-color: blue;
  grid-area: nav;
}


.grid-item:nth-child(2){
  background-color: orange;
  grid-area:sidebar;
}


.grid-item:nth-child(3){
  background-color: rgb(0, 234, 255);
  grid-area:main;
}

.grid-item:nth-child(4){
  background-color: rgb(42, 42, 41);
  grid-area:footer; 
}

.grid-item:nth-child(5){
  background-color: rgb(245, 245, 74);
  grid-area:aside;
}


.grid-item:nth-child(6){
  background-color: rgb(188, 20, 53);
  grid-area:content;
}

.grid-item:nth-child(7){
  background-color: rgb(20, 188, 59);
  grid-area:card;
}



